
<div class="container top-20" *ngIf="level">
    <div class="row" >
        <div class="">
            <img src="{{level.villain.imageURL}}" alt="villain thumbnail">
        </div>
        <div  class="col-md-10">
            <h2>{{level.villain.name}}</h2>
            <div class="col-md-12">
                <mat-chip-list>
                    <mat-chip *ngFor="let p of level.villain.powers;let i= index">
                        {{p.power.title}}
                        <i class="material-icons md-18 accent-color left-10">stars</i> {{p.power.stars * p.boost}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
    <section style="margin-top:9%">
        <div class="row">
            <div class="hero-container" *ngFor="let hero of heroes;let i= index" >
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{hero.name}}</mat-card-title>
                        <mat-card-subtitle>{{hero.category.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-chip-list>
                            <div class="mat-chip-list-wrapper">
                                <mat-chip *ngFor="let p of hero.powers;let i= index" (click)="fight(p,hero)">
                                    {{p.power.title}}
                                    <i class="material-icons md-18 accent-color left-10">stars</i> {{p.power.stars * p.boost}}
                                </mat-chip>
                            </div>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
    
</div>

