<div class="container">
  <form #createHeroForm = "ngForm" (ngSubmit)="cook(createHeroForm)" novalidate autocomplete="off">
    <section>
      <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput placeholder="name your superhero" name="heroName" ngModel required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard" style="margin-bottom: 3%;">
        <mat-label>Category</mat-label>
        <mat-select ngModel name="heroCategory"  #heroCategory="ngModel" (selectionChange)="getPowerList(heroCategory.value)" required>
          <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</mat-option>
        </mat-select>
        <mat-hint *ngIf="heroCategory.value">{{heroCategory.value.hintText}}</mat-hint>
      </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <br>
    <section *ngIf="powers.length">
      <mat-label>Select Power</mat-label>
      <div class="row">
        <div class="col-md-3" *ngFor="let power of powers;let i= index" >
          <mat-card >
            <mat-card-header>
              <mat-card-title>{{power.title}}</mat-card-title>
              <mat-card-subtitle>{{power.categoryData.title}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{power.description}} 
              </p>
              <p>Get it for <b>{{power.stars}}</b> 
                <i class="material-icons md-18" [class.selected-power]="power.selected">stars</i>
              </p>
            </mat-card-content>
            <mat-card-actions>
              
                <button mat-mini-fab color="accent" aria-label="add power icon" type="button" (click)="selectPower(power,i)">
                  <mat-icon>{{power.selected? 'remove': 'add'}}</mat-icon>
                </button>

              </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </section>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="starsUsed <= 0">
      Get My Superhero  
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </form>
</div>